#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #054c70;
    height: 15vh;
}

.footerList.img{
    display: flex;
}

.footerList ul{
    display: flex;
}

.footerList li{
    margin-left: 10px;
}